:root {
    
    --primary-light-green: rgba(226, 255, 211), 70%; /* light green */
    --primary-white: rgba(255,255,255);   /* white */
    --orange: rgb(254, 155, 2);
    --light-blue: rgba(0, 100, 255, 0.7);

  /* --primary-background: #radial-gradient(160% 80% at right center, var(--primary-gradient-start) 30%, var(--primary-gradient-end)); */

 
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



body {
 
    
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    /* background: #fff; */

    /* background: radial-gradient(
    160% 80% at right center,
    #e2ffd3 30%,
    white
    );  */
   
    /* background: radial-gradient(160% 80% at right center, var(--primary-gradient-start), var(--primary-gradient-end)); */

    /* background: radial-gradient(160% 80% at right center, var(--primary-light-green), 30%, var(--primary-white),1); */
    background: radial-gradient(160% 80% at right center, var(--primary-light-green), var(--primary-white));
}

.container {
    /* background-color: lightblue; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
.header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 10vh;
    padding: 1rem;
    /* background: linear-gradient(to left, rgb(254, 155, 2), white ),
                linear-gradient(to left, rgb(254, 155, 2), white ); */

    background: linear-gradient(to left, var(--orange), var(--primary-white) ),
        linear-gradient(to left, var(--orange), var(--primary-white) );

    
    /* #e2ffd3 */
    /* background-color: lightcoral; rgb(235, 254, 224)*/
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page {
    /* height: 85vh; */
    /* background-color: lightgreen; */
    /* width: 100%; */
    padding-top: 3rem;
    gap: 0;
    row-gap: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.page:not(#intro) {
    min-height: 85vh;
    /* background-color: lightgreen; */
    /* background: radial-gradient(160% 80% at right center, #e2ffd3 30%, white ); */
}
/* .page #hello-page {
    height: 90v !important;
} */

/* styles for intro section */
#intro {
    min-height: 90vh;
/* background: radial-gradient(ellipse at right, #e2ffd3, transparent); */
/* background: radial-gradient(160% 80% at right center, #e2ffd3 30%, white ); */
/* z-index: 100;     */
padding-top: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: stretch; */
    justify-content: space-between;
    /* gap: 2rem; */

    

    .joinButton {
        align-self: center;
        justify-self:center;

        margin: 4rem auto;
        font-size: 2.5rem;
        border: 1px solid black;
        padding: 0 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 20px 5px var(--light-blue);
        /* background-color: #e2ffd3; */
        /* background: linear-gradient(to left, rgb(254, 155, 2), white ),
                linear-gradient(to left, rgb(254, 155, 2), white ); */
        background: linear-gradient(to left, var(--orange), var(--primary-white) ),
                linear-gradient(to left, var(--orange), var(--primary-white) );

    }
        
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    min-height: 10%;
    
    flex:1;
    font-size: 3.5rem;
}
.div-1, .div-2, .div-3 {
    /* border: 2px solid black; */
     margin: 0;
     /* flex: 1; */
}

.btnParentDiv {
    /* flex: 1; */
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    /* margin-bottom: 2rem; */

}
    
.page-title {
        font-size: 30px;
        font-weight: 800;
        line-height: 40px;
        padding: 3rem 1rem;
        text-transform: uppercase;
        text-align: center;
    }

.card {
    /* width: 100%; */
    align-items: center;
    padding: 3rem;
    margin: 3rem;
    /* background-color: lightskyblue; */
        /* background: linear-gradient(to left, rgb(254, 155, 2), white ),
                linear-gradient(to left, rgb(254, 155, 2), white ); */

         background: linear-gradient(to left, var(--orange), var(--primary-white) ),
                linear-gradient(to left, var(--orange), var(--primary-white) );

    border-radius: 1.5rem;
    box-shadow: 0 0 20px 5px rgba(0, 100, 255, 0.7);
    

    p {
    font-size: 16px;
    line-height: 1.7;
    /* width: 100%; */

    }
}


/*/~ styles specific to fitness classes page ~/
#fitnessClasses {
    p::first-line {
        font-size: 22px;
        line-height: 32px;
    }
}*/
   


/* styles specific to hello page */
#hello-page {
    /* height: 85vh; */
    min-height: 90vh;
    /* background-color: lightsalmon; */

    .title  {
        font-size: 4rem;
        text-align: center;
     }
   
    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 70%;
        }
    }
    p:last-child {
        font-size: 18px;
        line-height: 1.7;
        color: #4c4c4c;
        margin: 0;
        padding: 3rem;
        font-weight: 400;
    }
    
}

/* styles specific to testimonials page */
#real-people {
    .card-wrapper {
        position: relative;
        min-height: 300px; /* Adjust based on your content */
    }
    .card {
        position: relative;
        display: none;
        padding-bottom: 2rem;
        p {
            display: flex;
        }
    }
    .card.active {
        display: flex;
        flex-direction: column;
    }
    .arrow {
        position: absolute;
        top: 20rem;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        font-size: 32px;
        color: rgba(0, 100, 255, 0.7);
        padding: 0 2rem;

        i {
            cursor: pointer;
            font-size: 2rem;
            padding: 1rem;
            border-radius: 50%;
            transition: all 0.3s ease;
        }
        .arrow i:hover {
            transform: scale(1.1);
        }

        #right-arrow {
            margin-left: auto;
            z-index:1000;
        }

    }
    >p {
        font-size: 1.8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2rem;
    }
    p:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }
}



/* styles specific to fitness classes page */
/* #fitness-classes {
    p::first-line {
        font-size: 22px;
        line-height: 32px;
    }
} */




/* styles specific to class schedule page */
/*#class-schedule {
    p {
        white-space: pre-line;
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 1.5rem;
    }

    /~Flip-Card Functionallity ~/
    .flip-card-wrapper {
        position: relative;
        min-height: 300px;

        display: inline-block;
        width: 100%;
    }

    .flip-card {
        position: relative;
        display: none;
        padding-bottom: 2rem;
        /~ p {
            display: flex;
        } ~/
    }

    .active {
        display: flex;
        flex-direction: column;
        }
    

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        font-size: 32px;
        color: rgba(0, 100, 255, 0.7);
        padding: 0 2rem;

        i {
            cursor: pointer;
            font-size: 2rem;
            padding: 1rem;
            border-radius: 50%;
            transition: all 0.3s ease;
        }
        .arrow i:hover {
            transform: scale(1.1);
        }

        #right-arrow {
            margin-left: auto;
            z-index:1000;
        }

    }
}
*/
/* .flip-card-wrapper:hover .flip-card {
  transform: rotateY(180deg);
} */

.flip-card {
  width: 100%;
  height: auto;
  /* align-self: center; */
  position: relative;
  /* text-align: center; */
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: all 0.7s linear; 
}

.flip-card.flipped {
    transform: rotateY(180deg);
            /* background: linear-gradient(to right, rgb(254, 155, 2), white ),
                linear-gradient(to right, rgb(254, 155, 2), white ); */
    /* position: relative; */
    height: auto;
                

}

.flip-card-back,
.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  height: fit-content;

  padding: 1rem 0;

  /* box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
  border-radius: 20px; */
}

.flip-card-back {
  transform: rotateY(180deg);
 }
.flip-card.active.flipped {
    .flip-card-back {
        /* background: linear-gradient(to right, rgb(254, 155, 2), white ),
                linear-gradient(to right, rgb(254, 155, 2), white ); */

        background: linear-gradient(to right, var(--orange), var(--primary-white) ),
                linear-gradient(to right, var(--orange), var(--primary-white) );


    }
}
.flip-card span {
    margin-top: 3rem;
}
button {
    background-color: #e2ffd3;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px 5px rgba(0, 100, 255, 0.7);
}



#start {
    img {
    height: auto;
    align-self: center;
    justify-content: flex-start;
    padding: 2rem 0;
    }

    p {
        font-size: 2rem;
        padding: 0 2rem;

        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;
            font-weight: 600;
            font-size: 3rem;
        }
    }
}
/* #contact-info {
    
} */
footer {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;
    /* white-space: pre-line; */
    font-size: 1.5rem;
    padding: 1rem 1.5rem 1rem 2rem;

    span {
        display: flex;
        align-items: center;
    }
    svg {
    fill: white;

    height: 3rem;
    width: auto;
    margin: 0 1rem;
    }
    p {
        font-size: 1rem;
        text-align: center;
    }
    hr {
        margin-top: 1rem;
    }
    a:visited, a:link {
        color: white;
    }
}
/* .e-fas-phone-square-alt  */

  /* .card-wrapper {
    grid-template-columns: 1fr;
    padding: 2rem 3rem;
    gap: 0;
  } */
  
  /* .arrow i {
    font-size: 1.5rem;
    padding: 0.8rem;
  } */


/* for larger screen */
@media (min-width: 768px) {

    .card-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 4rem;
  transition: all 0.3s ease;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
html {
    font-size: 50%;
}
.header {
    width: 100%;
    height: 100%;
}
.wrapper-menu {
    margin-top: 5rem;
}
.main {
    margin-top: 5rem;
}
#hello-page {
    /* max-width: 50%; */
    justify-self: flex-start;

    div {
        flex-direction: row;

        img {
            max-width: 50%;
        }

    }
}

/* #fitness-classes { 
    .arrow {
        display: none;
    }
    .card {
        width: 25%;
    }
} */

#class-schedule {

    p {
        font-size: 1.6rem;
    }
    
    .flip-card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: flex-start; */

        .flip-card {
            width: 25%;
            align-self: flex-start;
            display: inline-block;
            /* display: flex; */

            
        }
    }
    .flip-card {
        display: grid;
        grid-template-columns: repeat(3, auto-fit);
    }
}

/*#real-people {
    p {
        font-size: 1.6rem;
    }
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
        /~ align-items: stretch; ~/

        .card {
            flex-basis: calc(33% - 6rem);
            display:inline-block;
            /~ align-self: flex-start; ~/
            
        }
    }

}
*/
/* } */


/* Testimonial Card Wrapper */
.card-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 4rem;
  transition: all 0.3s ease;
}

/* Individual Cards */
.card.people {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: block;
}

.card.people.hidden-card {
  display: none;
}

/* Arrow Container */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 100;
}

.arrow i {
  pointer-events: auto;
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.arrow i:hover {
  background: #ff6b35;
  color: white;
  transform: scale(1.1);
}
}
/* Mobile View - 1 Card */
/*@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: 1fr;
    padding: 2rem 3rem;
    gap: 0;
  }
  
  .arrow i {
    font-size: 1.5rem;
    padding: 0.8rem;
  }
}
*/