.swiper-container {
  width: 600px;
  height: 300px;
}
.swiper-slide {
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  perspective: 1000px; /* Gives the 3D depth effect */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Enables 3D positioning of children */
}

.swiper-slide.is-flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; /* Hide the back side when facing away */
  border-radius: 16px;
  /* Add other styling like background colors, text alignment, etc. */
}

.card-back {
  transform: rotateY(180deg); /* Initially hide the back face */
}
